.Header{
    min-height: 50px;
    background: lightblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Header{
    text-decoration: none;
    color: whitesmoke;
    font-size: 25px;
}

.Header a[class='active']{
    color: red;
}