.App {

}

.home{
    margin: 0 auto;
    width: 100%;
    font-size: 32px;
    background: antiquewhite;
    padding-left: 20%;
}

.list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background: burlywood;
    margin: 0 auto;
}