.App {

}

.page{
    margin: 0 auto;
    width: 100vh;
    font-size: 32px;
    background: antiquewhite;
    padding-left: 20%;
}

.list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background: burlywood;
    margin: 0 auto;
}

.comments{
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 500px;
    overflow-y: scroll;
}